<%= render 'devise/shared/navbar' %>

<section>
  <% @users.each do |user| %>
    <% user.recipes.where(is_public: true).each do |recipe| %>
      <p><%= recipe.name %></p>
      <p>By: <%= user.name %></p>
    <% end %>
    <p>Total Foods: <%= user.foods.count %></p>
    <p>Total Price: <%= user.foods.sum(:price) %></p>
  <% end %>
</section>