<%= render 'devise/shared/navbar' %>

<h1> Food list </h1>
<button><%= link_to "Add Food", new_food_path %></button>

<div>
    <% if @foods.empty? %>
    <p> No Food Available </p>
    <% else %>
    <table>
    <thead>
        <tr>
        <th>Name</th>
        <th>Measurement Unit</th>
        <th>Unit Price</th>
        <th>Actions</th>
        </tr>
    </thead>
    
    <tbody>
        <% @foods.each do |food| %>
            <tr>
            <td><%= food.name %></td>
            <td><%= food.measurement_unit %></td>
            <td><%= food.price %></td>
            <td>
              <%= button_to 'Delete', food_path(food.id), method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
        <% end %>
    </tbody>
    </table>
    <% end %>
    <button><%= link_to 'Create Recipe', new_recipe_path %></button>
</div>